/* Inter */

@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"),
    url("../../src/shared/assets/fonts/inter/Inter_18pt-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"),
    url("../../src/shared/assets/fonts/inter/Inter_18pt-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"),
    url("../../src/shared/assets/fonts/inter/Inter_18pt-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Bold"),
    url("../../src/shared/assets/fonts/inter/Inter_18pt-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Philosopher */

@font-face {
  font-family: "Philosopher";
  src: local("Philosopher-Regular"),
    url("../../src/shared/assets/fonts/philosopher/Philosopher-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Philosopher";
  src: local("Philosopher-Bold"),
    url("../../src/shared/assets/fonts/philosopher/Philosopher-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}
