/* Inter */

@font-face {
  font-family: "Inter";
  src:
    local("Inter-Regular"),
    url("../src/shared/assets/fonts/inter/Inter_18pt-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-Medium"),
    url("../src/shared/assets/fonts/inter/Inter_18pt-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-SemiBold"),
    url("../src/shared/assets/fonts/inter/Inter_18pt-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    local("Inter-Bold"),
    url("../src/shared/assets/fonts/inter/Inter_18pt-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

/*  Lora */

@font-face {
  font-family: "Lora";
  src:
    local("Lora-Regular"),
    url("../src/shared/assets/fonts/lora/Lora-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src:
    local("Lora-Medium"),
    url("../src/shared/assets/fonts/lora/Lora-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src:
    local("Lora-SemiBold"),
    url("../src/shared/assets/fonts/lora/Lora-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src:
    local(" Lora-Bold"),
    url("../src/shared/assets/fonts/lora/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
