*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

body {
  font-family: Inter;
  color: var(--c-main-text);
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-shadow: none;
}
