:root {
  --c-primary: #8e51ff;
  --c-primary-dark: #7b4ad8;
  --c-primary-darker: #6c46c1;
  --c-primary-light: #d6b6ff;
  --c-primary-extra-light: #ebe8ff;
  --c-primary-contrast: #ffffff;

  --c-secondary: #8ec5ff;
  --c-secondary-dark: #7bb8ff;
  --c-secondary-darker: #6ca8ff;
  --c-secondary-light: #cce5ff;
  --c-secondary-extra-light: #f8fafc;
  --c-secondary-contrast: #ffffff;

  --c-main-surface: #ffffff;
  --c-main-text: #232323;
  --c-neutral: #9e9e9e;
}

.theme-dark{
  --c-primary: #8e51ff;
  --c-primary-dark: #7b4ad8;
  --c-primary-darker: #6c46c1;
  --c-primary-light: #d6b6ff;
  --c-primary-extra-light: #6a686f;
  --c-primary-contrast: #ffffff;

  --c-secondary: #8ec5ff;
  --c-secondary-dark: #7bb8ff;
  --c-secondary-darker: #122035;
  --c-secondary-light: #2f343a;
  --c-secondary-extra-light: #23222f;
  --c-secondary-contrast: #ffffff;

  --c-main-surface: #1a1821;
  --c-main-text: #dfdfdf;
  --c-neutral: #9e9e9e;
}
