/* Table Container */

.ui-table-container {
  font-size: 0.875rem;
  background-color: var(--c-secondary-extra-light);
  border: 1px solid var(--c-secondary-light);
  border-radius: 0.75rem;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  display: block;
  margin: 0 auto;
  align-self: center;
}

.ui-table {
  display: table;
  width: max-content; /* Это правильно, оставляем */
  min-width: 100%; /* Чтобы на широких экранах она не была слишком узкой */
  border-collapse: collapse;
}

/* Table Row */

.ui-table-row {
  flex-shrink: 0;
}

.ui-table-row > .ui-table-cell {
  padding: 0.75rem;
  min-width: 4.75rem;
}

.ui-table-row.bordered:not(:last-child) {
  border-bottom: 1px solid var(--c-secondary-light);
}

/* Table Cell */

.ui-table-cell {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: var(--c-secondary-extra-light);
  padding: 0.75rem;
}

.ui-table-cell[scope="row"] {
  font-weight: 700;
  border-right: 1px solid var(--c-secondary-light);
}

.ui-table-cell-vertical:not(:last-child) {
  border-right: 1px solid var(--c-secondary-light);
}

/* Table Head */

.ui-table-header {
  flex-shrink: 0;
  font-weight: 700;
  border-bottom: 1px solid var(--c-secondary-light);
}

.ui-table-header > .ui-table-cell:not(:last-child) {
  padding: 0.375rem 0.75rem;
  min-width: 4.75rem;
  border-right: 1px solid var(--c-secondary-light);
}
